[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "cairo_mmr"]
	path = lib/cairo_mmr
	url = https://github.com/HerodotusDev/cairo-mmr
